<style>

.sheetSection{
padding: 10px;
border-style:ridge;
border-width:5px;
border-color:rgb(36,103,126);
background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(rgb(115,115,115)), to(rgb(200,200,200)));
border-radius:35px;
}

</style>
